.pageTitle {
  color: #2F3032;
  font-weight: 500;
  font-size: 40px;
  margin: 35px;
}

.tierImg {
  width: 250px;
}

.mvcImg {
  width: 250px;
}

.mvvcImg {
  width: 200px;
}

.fluxImgTool {
  width: 200px;
}

.imagesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%; 
}

.margin {
  margin-bottom: 100px;
}