.boxView {
  width: 200px;
  height: 100px;
  background: #53B753;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #FFF;
  box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
}

.nameComponent {
  color: #FFF;
  font-size: 30px;
}