.headerContainer {
    background-color: #3E3F41;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.headerTitle {
    color: #EBECEE;
    font-size: 25px;
    font-weight: 500;
}

.headerSubTitle {
    color: #EBECEE;
    font-style: italic;
    font-size: 20px;
}

.fluxImg {
    height: 80%;
}